<label class="pb-label" [attr.title]="descriptor?.hint">{{ descriptor?.label }}</label>
@if (control()) {
  <div>
    <file-upload [control]="control()!" [multiple]="multiple()">
      <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
        @if (isFileDragDropAvailable) {
          <div>
            Add file or drop files to upload
          </div>
        }
        @if (!isFileDragDropAvailable) {
          <span>Add file</span>
        }
      </ng-template>
    </file-upload>
    @if (descriptor?.info) {
      <p class="info">{{ descriptor?.info }}</p>
    }
    @if (innerValue().length > 0) {
      <div class="file-list"
        cdkDropList
        [ngStyle]="{ 'max-height': maxListHeight() }"
        (cdkDropListDropped)="onReorderItems($event)">
        @for (file of innerValue(); track file; let i = $index) {
          <div cdkDragBoundary=".file-list"
            cdkDragLockAxis="y"
            cdkDrag
            [cdkDragDisabled]="!sortable()"
            (cdkDragReleased)="onReleaseDrag()">
            <div class="file-item"
              [ngClass]="{ 'has-extra-props': descriptor?.element && descriptor?.element?.length }"
              (mouseenter)="hoverItem.set(file)"
              (mouseleave)="hoverItem.set(null)">
              @if (descriptor?.element && descriptor?.element?.length) {
                <app-chevron
                [opened]="selectedFile() === file" (click)="selectFile($any(file))" />
              }
              <app-icon class="file-type">attachment</app-icon>
              <div class="file-name" [title]="file.name" (click)="selectFile($any(file))">{{ file.name }}</div>
              <app-icon title="Copy URL" class="copy-url" (click)="copyUrl(file)">content_copy</app-icon>
              <app-icon title="Delete file" class="delete-icon" (click)="deleteFile($any(file))">delete</app-icon>
              @if (sortable()) {
                <app-drag-handle [visible]="hoverItem() === file" cdkDragHandle (mousedown)="onStartDrag()"
                (mouseup)="onReleaseDrag()" />
              }
            </div>
            <ng-container>
              @if (file.uploading) {
                <mat-progress-bar mode="indeterminate" />
              }
              @if (file.error) {
                <div class="error">
                    {{ $any(file).error }}<br />
                    <span class="reload" (click)="uploadItem(file)">
                        reload
                    </span>
                </div>
              }
              @if (selectedFile() === file && elementForm() && descriptor && !isDrag()) {
                <div class="selected-file-properties">
                  <app-controls-list [currentForm]="elementForm()!"
                    [descriptors]="descriptor.element"
                    [context]="getContext($any(file))" />
                </div>
              }
            </ng-container>
          </div>
        }
      </div>
    }
    @if (innerValue().length > (descriptor?.collapseThreshold || 6)) {
      <app-icon-button class="show-all"
        [text]="expanded() ? 'Show less' : 'Show all'"
      (click)="toggleList()" />
    }
  </div>
}
