@use '../../../../../layout/variables' as *;

:host {
    @apply flex flex-col;
}

.files-control {
    @apply flex flex-col gap-2 mt-1;
}

.file-list {
    @apply flex flex-col overflow-hidden;

    app-icon.file-type,
    app-icon.copy-url,
    app-icon.delete-icon {
        width: 1rem;
        height: 1rem;
    }

}

.choose-from-library {
    @apply block;

    &--uploading {
        pointer-events: none;
    }
}

.file-item {
    @apply flex flex-row items-center space-x-1 p-1 rounded bg-white cursor-default select-none;

    &.has-extra-props {
        @apply cursor-pointer;
    }

    .delete-icon,
    .copy-url {
        visibility: hidden;
        cursor: pointer;
        font-size: 1rem;
    }

    &:hover {
        background: $hover-color;

        .delete-icon,
        .copy-url {
            visibility: visible;
        }
    }
}

.file-name {
    @apply whitespace-nowrap truncate grow min-w-0;
}

.file-type {
    font-size: 1rem;
}

.show-all {
    background: $hover-color;
    color: $active-color;
    @apply mt-2 block text-center rounded;

    &:hover {
        filter: brightness(0.98);
    }
}

.error {
    color: $error-color;
    background-color: white;
    font-size: .75rem;
    @apply break-all px-6;
}

.selected-file-properties {
    padding-left: 0;
    padding-right: 0;
}
