:host {
    @apply border-y block p-4 -m-4;
}

.toggler {
    transform: scale(.75);
    @apply cursor-pointer;
}

.item-wrapper {
    user-select: none;
    @apply flex flex-col bg-white border-y;
}
.label-wrapper {
    @apply flex flex-row py-2 px-4 items-center cursor-pointer;
    &.expanded, &.expanded:hover {
        background-color: #F6F9FD;
    }
    &:hover {
        background: #EDEDED;
    }
    &.expanded {
        .chevron {
            transform: rotate(90deg);
        }
    }
    .pb-label {
        @apply grow cursor-pointer truncate;
    }
    // transition: height .2s; // todo: animate expand/collapse
}
.chevron {
    transition: transform .2s;
}
.editor-wrapper {
    background-color: #F6F9FD;
    @apply pr-4 py-2 pl-10;
}
.collection-wrapper {
    @apply -mx-4;
}
.info {
    font-size: 0.75rem;
    padding-bottom: .75rem;
}

::ng-deep .add-button button {
    @apply px-4;
}

.collection-title {
    font-weight: bold;
}
