<div cdkDropList class="blocks-container" (cdkDropListDropped)="onReorderBlocks($event)">
  @for (block of section().blocks; track block) {
    <div class="block-item"
      cdkDragBoundary=".blocks-container"
      cdkDragLockAxis="y"
      cdkDrag
      [ngClass]="{ 'selected': states()[block.id]?.selected }"
      (cdkDragStarted)="blockDragStarted($event)"
      (cdkDragReleased)="blockDragCompleted()"
      (mouseenter)="currentHoverId.set(block.id)"
      (mouseleave)="currentHoverId.set(null)">
      <app-section-item [sectionSchema]="blocksSchemas()[block.type]"
        [selectable]="states()[block.id]?.selectable || false"
        [selected]="states()[block.id]?.selected || false"
        [hasContextMenu]="!selectMode()"
        [section]="block"
        (itemClick)="onItemClick(block)"
        (actionClick)="onActionExecuted($event, block)"
        (itemSelectChanged)="onItemSelectChanged($event, block.id)" />
      @let isDragHandleActive = (!selectMode() && block.id === currentHoverId()) || !!states()[block.id]?.selected;
      <app-drag-handle cdkDragHandle
        [cdkDragHandleDisabled]="!isDragHandleActive"
        [visible]="isDragHandleActive" />
      <div class="section-placeholder" *cdkDragPlaceholder></div>
      <span class="drag-preview" *cdkDragPreview>
        {{
        selectedBlocksCount() <= 1 ? '1 section' : (selectedBlocksCount() + ' sections')
        }}
      </span>
    </div>
  }
</div>
<app-icon-button icon="add"
  skin="blue"
  text="Add block"
  (click)="onAddBlockClick()" />
