@use './variables' as *;

.info {
    color: $info-color;
    font-size: $default-font-size;
}

.pb-label {
    color: $label-color;
    font-size: $default-font-size;
    font-weight: 400;
    user-select: none;
}

.control {
    color: $form-controls-text-color;
    border: 1px solid $controls-border-color;
    font-weight: inherit;
    font-size: inherit;
    @apply rounded;
}

app-icon {
    font-size: 1.5rem;
}

app-chevron {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
}

// select control

// check, may be it can be overrided for whole theme
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #F6F6F6;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input>input {
    font-size: 0.875rem;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #E4E5E7;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-left: 1px solid #C9CCD0;
    border-right: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #C9CCD0;
}
