$default-font-size: 0.875rem;
$middle-font-size: 0.9375rem;
$small-font-size: 0.6875rem;
$icon-size: 1rem;
$small-icon-size: 0.75rem;
$btn-icon-size: 0.8125rem;

// todo: also here should be colors
$controls-text-color: #363636; // dropdowns in toolbar, sections in template editor
$icons-color: #484848;
$heading-color: #121212;
$content-color: #202223;
$text-color: #363636;
$disable-text-color: #8C9196;
$disable-icon-color: #8C9196;
$placeholder-color: #121212; // ?
$input-text-color: #121212; // ?
$active-color: #1665D8;
$error-color: #D82C0D;
$secondary-element-color: rgba(72, 72, 72, 0.48);
$hover-color: rgba(246, 246, 246, 1);

// form colors
$label-color: #646464;
$info-color: #6D7175;
$form-controls-text-color: #202223;
$controls-border-color: #BABFC3;
$no-image: #BABFC3;

$border-color: #e0e0e0; // ?
$border-active-color: #e0e0e0; // ?
