<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'"
     ng-if="blade.isNew"></div>
<div class="blade-content">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <div class="form-group" ng-init="setForm(formScope)">
          <label class="form-label">{{ 'pageBuilder.blades.edit-page.labels.filename' | translate }}</label>
          <div class="form-input">
            <input focus-on="" required class="form-control" ng-model="blade.currentEntity.name" placeholder="{{ 'pageBuilder.blades.edit-page.placeholders.filename' | translate }}" name="pageName" ui-validate=" 'validators.webSafeFileNameValidator($value)' " />
          </div>
          <div class="form-error" ng-show="formScope.pageName.$dirty">
            <span ng-show="formScope.pageName.$error.validator">{{ 'pageBuilder.blades.edit-page.validations.pageName-invalid' | translate }}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">{{ 'pageBuilder.blades.edit-page.labels.name' | translate }}</label>
          <div class="form-input">
            <input class="form-control" ng-model="blade.currentEntity.settings.name" placeholder="{{ 'pageBuilder.blades.edit-page.placeholders.name' | translate }}" name="displayName" />
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">{{ 'content.blades.edit-page.labels.language' | translate }}</label>
          <div class="form-input">
            <ui-select ng-model="blade.currentEntity.language">
              <ui-select-match allow-clear
                               placeholder="{{ 'content.blades.edit-page.placeholders.language' | translate }}">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="x in languages">
                <span class="flag flag-{{x.substr(3).toLowerCase()}}"></span>
                <span ng-bind-html="x"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Permalink</label>
          <div class="form-input">
            <input focus-on="" ui-validate-async=" 'validatePermalink($value)' " class="form-control"
                   ng-model="blade.currentEntity.settings.permalink" placeholder="Permalink"
                   name="permalink" />
          </div>
          <span class="comment-text" ng-if="permalinkDuplicates.length">
            <img src="/images/layout/warning.svg" class="comment-icon">
            {{ 'pageBuilder.blades.edit-page.validations.permalink-invalid' | translate }}
          </span>
          <div class="comment-text" ng-repeat="link in permalinkDuplicates">
            {{ link.name }}: {{ link.relativeUrl }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>