<h2 mat-dialog-title>{{ data.descriptor.title || data.descriptor.label }}</h2>
<mat-dialog-content>
    <div class="btn-group">
        <button class="btn btn--blue" (click)="addElement()">{{ data.descriptor.addText }}</button>
    </div>
    <form [formGroup]="form">
        <div class="form-input">
            <table class="table">
                <tr *ngIf="items.length">
                    <th>#</th>
                    <th *ngFor="let col of data.descriptor.element">{{ col.label }}</th>
                    <th>&nbsp;</th>
                </tr>
                <tbody class="items-container" cdkDropList (cdkDropListDropped)="sortItems($event)">
                    <tr cdkDragBoundary=".items-container" cdkDragLockAxis="y" cdkDrag formArrayName="items"
                        *ngFor="let row of items.controls; let i = index;">
                        <ng-container [formGroupName]="i">
                            <td cdkDragHandle><span style="cursor: move;">{{ i+1 }}</span></td>
                            <td *ngFor="let col of data.descriptor.element">
                                <app-control-holder [hideLabel]="true" [descriptor]="col" [group]="form"
                                    [formControlName]="col.id">
                                </app-control-holder>
                            </td>
                            <td>
                                <button class="btn btn--small" (click)="removeElement(i)">
                                    <span class="btn__icon btn__icon--remove"></span>
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn" (click)="onCancelClick()">Cancel</button>
    <button class="btn btn--blue" (click)="onClose()">Ok</button>
</mat-dialog-actions>