:host {
    display: block;
}

.chevron {
    transition: transform .1s;
    color: #363636;
    @apply rounded-sm;

    &.rotate {
        transform: rotate(90deg);
    }

    &.vertical {
        transform: rotate(90deg);
        &.rotate {
            transform: rotate(270deg);
        }
    }
}
