@if (hasAccounts()) {
  @if (view() === 'dropdown') {
    <app-actions-dropdown
      panelClass="impersonate-as-panel"
      [actions]="dropdownActions()"
      [active]="selectedId() ?? ''"
      (executeAction)="onDropdownSelected($event)" />
  } @else {
    <app-context-menu
      class="block py-2"
      [actions]="contextMenuActions()"
      [visible]="true"
      (onAction)="onContextMenuSelected($event)">
      <div class="impersonate-trigger" #contextMenuTrigger>
        <app-icon class="trigger-icon">person</app-icon>
        <span class="label">{{ currentLabel() }}</span>
      </div>
    </app-context-menu>
  }
}
