<div class="container">
  <button type="button" class="group w-full text-left" [attr.aria-expanded]="opened()" (click)="raiseOnOpened()">
    @if (group().icon) {
      <app-icon aria-hidden="true">{{ group().icon }}</app-icon>
    }
    <div class="name">{{ group().name }}</div>
    <app-chevron aria-hidden="true" [opened]="opened()" [vertical]="true" />
  </button>
  @if (opened()) {
    <ul>
      @for (item of group().items; track item) {
        <li class="border-b">
          <app-add-section-item [section]="item"
            [inPreview]="item.type === underPreviewType()"
            [child]="true"
            (onPreview)="raiseOnPreview(item)"
            (onAdd)="raiseOnAdd(item)" />
        </li>
      }
    </ul>
  }
</div>
