<label class="pb-label" [attr.title]="descriptor?.hint">{{ displayLabel() }}</label>
<div class="images-control">
    @if (useLegacyUploadControl() && control()) {
      <file-upload [control]="control()!" [multiple]="multiple()">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
          @if (isFileDragDropAvailable) {
            <div>
              Add image or drop images to upload
            </div>
          }
          @if (!isFileDragDropAvailable) {
            <span>Add image</span>
          }
        </ng-template>
      </file-upload>
    } @else {
    <app-icon-button
      class="choose-from-library"
      [ngClass]="{
        'choose-from-library--drag-over': assetLibraryDropActive(),
        'choose-from-library--uploading': assetLibraryUploading()
      }"
      skin="outline-blue"
      layout="dropzone"
      icon="image_search"
      [text]="assetLibraryUploading() ? assetLibraryLabels.uploading : assetLibraryLabels.chooseOrDrop"
      [disabled]="assetLibraryUploading()"
      (click)="chooseFromLibrary()"
      (dragenter)="onAssetLibraryButtonDragEnter($event)"
      (dragover)="onAssetLibraryButtonDragOver($event)"
      (dragleave)="onAssetLibraryButtonDragLeave($event)"
      (drop)="onAssetLibraryButtonDrop($event)" />
    }
    @if (descriptor?.info) {
      <p class="info grow">{{ descriptor?.info }}</p>
    }
    <div class="images-list"
      [ngStyle]="{ 'max-height': maxListHeight() }"
      cdkDropList
      (cdkDropListDropped)="onReorderItems($event)">
      @for (file of innerValue(); track file; let i = $index) {
        <div class="list-item"
          cdkDrag
          [cdkDragDisabled]="!sortable()"
          cdkDragBoundary=".images-list"
          cdkDragLockAxis="y"
          (cdkDragReleased)="onReleaseDrag()"
          >
          <div class="file-item">
            @if (descriptor?.element && descriptor?.element?.length) {
            <app-chevron [opened]="selectedFile() === file" (click)="selectFile(file)" />
            }
            <div class="image-item"
                 [ngStyle]="{ backgroundImage: getBackground(file) }">
              @if (file.loading) {
                <div class="spinner">
                  <app-spinner />
                </div>
              }
            </div>
            <div class="file-name"
              [ngClass]="{ 'has-extra-props': descriptor?.element && descriptor?.element?.length }"
              [title]="file.name"
              (click)="selectFile(file)">{{ file.name }}</div>
            <div class="actions">
              <app-icon title="Copy URL" class="copy-url" (click)="copyUrl(file)">content_copy</app-icon>
              <app-icon title="Delete image" class="remove-image" (click)="deleteFile(file)">delete</app-icon>
              @if (sortable()) {
                <app-drag-handle
                  [visible]="true"
                  cdkDragHandle
                  (mousedown)="onStartDrag()"
                  (mouseup)="onReleaseDrag()" />
              }
            </div>
          </div>
          <ng-container>
            @if (file.error) {
            <div class="error">{{ file.error }}<br />
              @if (useLegacyUploadControl()) {
                <span class="reload" (click)="uploadItem(file)">reload</span>
              }
            </div>
            }
            @if (selectedFile() === file && descriptor && elementForm() && !isDrag()) {
              <div class="selected-file-properties">
                <app-controls-list [currentForm]="elementForm()!"
                  [descriptors]="descriptor.element"
                [context]="getContext(file)" />
              </div>
            }
          </ng-container>
        </div>
      }
    </div>
    @if (innerValue().length > (descriptor?.collapseThreshold || 4)) {
      <app-icon-button class="show-all"
        layout="full-center"
        [text]="expanded() ? 'Show less' : 'Show all'"
        (click)="toggleList()" />
    }
</div>
