@use '../../../../../layout/variables' as *;

:host {
    @apply flex flex-col;
}

.images-control {
    @apply flex flex-col gap-2 mt-1;
}

.image-item {
    background-color: $no-image;
    background-size: cover;
}

.images-list {
    @apply flex flex-col gap-2 overflow-hidden;
}

.choose-from-library {
    @apply block;

    &--uploading {
        pointer-events: none;
    }
}

.list-item {
    @apply flex flex-col;
}

.file-item {
    @apply flex flex-row gap-2 items-center bg-white rounded px-2 py-1;

    &:hover .actions {
        opacity: 1;
        @apply cursor-pointer;
    }

}

.file-name {
    @apply grow truncate;

    &.has-extra-props {
        @apply cursor-pointer;
    }
}

.show-all {
    background: $hover-color;
    color: $active-color;
    @apply mt-2 block text-center rounded;

    &:hover {
        filter: brightness(0.98);
    }
}

.error {
    color: $error-color;
    background-color: white;
    font-size: .75rem;
    @apply break-all px-6;
}

.actions {
    opacity: 0;
    transition: opacity .3s;
    @apply flex flex-row space-x-1;
}

.image-item {
    min-width: 3.5rem;
    @apply flex flex-row justify-center items-center w-14 h-14;
}

.selected-file-properties {
    padding-left: 0;
    padding-right: 0;
}
