@use '../../../../../layout/variables' as *;

file-upload {
    @apply bg-white flex flex-row justify-items-stretch;
    border: 2px dashed #8C9196;
    min-height: 4rem;
    border-radius: .5rem;
    outline: none;
    padding: .5rem;

    ::ng-deep .upload-input {
        transform: none;
        @apply static text-center grow flex flex-col justify-center items-center;
    }

    &.dragover {
        background: #F6F6F6;
    }
}

.image-item {
    background-color: $no-image;
    background-size: cover;
}

.images-list {
    @apply flex flex-col space-y-3 overflow-hidden mt-1;
}

.list-item {
    @apply flex flex-col;
}

.file-item {
    @apply flex flex-row space-x-2 items-center bg-white;

    &:hover .actions {
        opacity: 1;
        @apply cursor-pointer;
    }

}

.file-name {
    @apply grow truncate;

    &.has-extra-props {
        @apply cursor-pointer;
    }
}

.show-all {
    background: #F6F6F6;
    color: #1665d8;
    @apply mt-2 block text-center rounded;

    ::ng-deep .text {
        @apply block grow;
    }

    &:hover ::ng-deep button {
        background: #F0F0F0;
    }
}

mat-spinner {
    width: 100% !important;
    height: 100% !important;

    ::ng-deep svg {
        width: 100% !important;
        height: 100% !important;
    }
}

.error {
    color: #FF0000;
    background-color: white;
    font-size: .75rem;
    @apply break-all px-6;

    .reload {
        @apply cursor-pointer;
        color: #1665d8;
    }
}

.actions {
    opacity: 0;
    transition: opacity .3s;
    @apply flex flex-row space-x-1;
}

.spinner,
.image-item {
    min-width: 3.5rem;
    @apply flex flex-row justify-center items-center w-14 h-14;
}

.selected-file-properties {
    padding-left: 1.75rem;
    padding-right: 2rem;
}
