<label class="pb-label" [attr.title]="descriptor?.hint">{{ descriptor?.label }}</label>
<ng-container [formGroup]="form">
    <ng-select appendTo="body"
               bindLabel="label"
               bindValue="value"
               groupBy="group"
               formControlName="value"
               #selectControl
               [items]="effectiveOptions()"
               [multiple]="descriptor?.multiple || false"
               [placeholder]="descriptor?.placeholder || ''"
               [searchable]="descriptor?.searchable || false"
               [clearable]="!descriptor?.required"
               [hideSelected]="true"
               [loading]="optionsResource.isLoading()"
               [typeToSearchText]="descriptor?.placeholder || ''"
               [compareWith]="compareWith"
               [typeahead]="searchEvent$"
               (change)="raiseValueChanged($event)">
        <ng-template ng-label-tmp let-item="item">
            <span class="ng-value-label">
                <span>{{ item.label || item[descriptor?.displayField!] }}</span>
            </span>
            <span class="ng-value-icon left" (click)="unselect(item);" aria-hidden="true">×</span>
        </ng-template>
    </ng-select>
</ng-container>
