<div class="item-holder" [ngClass]="{ 'hovered': hovered(), 'highlighted': highlight() }">
  <button type="button" [style.visibility]="expandable() ? 'visible' : 'hidden'"
    [disabled]="!expandable()" [attr.aria-expanded]="opened()"
    [attr.aria-label]="(opened() ? 'Collapse ' : 'Expand ') + accessibleLabel()"
    (click)="onChevronClick()">
    <app-chevron aria-hidden="true" [opened]="opened()" />
  </button>
  <ng-content select="[item]" />
</div>
@if (opened()) {
  <div class="pl-8">
    <ng-content />
  </div>
}
