@use '../../../../../layout/variables' as *;

:host {
    @apply w-full flex items-stretch;

    background-color: #eeeeee;
}

.preview-wrapper {
    @apply flex flex-col justify-center h-full w-full;
    // &.preset-preview-mode {
    //     border: 4px solid #1665D8;
    // }

    .preview-name {
        line-height: 24px;
        font-size: $middle-font-size;
        background-color: #1665D8;
        color: #ffffff;
        text-align: center;
        left: 50%;
        top: -.5rem;
        transform: translate(-50%, 0);
        max-width: 90%;
        transition: opacity 5s 3s;
        @apply py-1 px-4 rounded-lg absolute truncate;
        &:hover {
            opacity: 0.1;
        }
    }
}

.iframe-holder {
    margin: auto;
    @apply grow p-4 w-full;
}

.phone {
    width: 30rem;
}

.tablet {
    width: 48rem;
}

iframe {
    @apply w-full h-full;
}

.preview-placeholder {
    color: $info-color;
    background-color: #ffffff;
    border: 1px dashed $controls-border-color;
    @apply h-full w-full flex flex-col items-center justify-center text-center rounded-lg p-8 space-y-3;

    app-icon {
        color: $disable-icon-color;
        font-size: 2.5rem;

        ::ng-deep mat-icon.app-icon {
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    .placeholder-title {
        color: $heading-color;
        font-size: $middle-font-size;
        font-weight: 600;
    }

    .placeholder-info {
        max-width: 28rem;
        font-size: $default-font-size;
    }

    .setting {
        color: $content-color;
        font-size: $default-font-size;
        max-width: 100%;
        @apply break-all;
    }
}
